In [1]:
import pandas as pd
import numpy as np

### Read in dataframe containing user_id, song_id, and listen counts

In [233]:
filename = 'data/train_triplets.txt'
id_df = pd.read_csv(filename, delimiter='\t',names=['user_id','song_id','count'])
id_df

                                           user_id             song_id  count
0         b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995      1
1         b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9      1
2         b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B      2
3         b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22      1
4         b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494      1
...                                            ...                 ...    ...
48373581  b7815dbb206eb2831ce0fe040d0aa537e2e800f7  SOUHHHH12AF729E4AF      2
48373582  b7815dbb206eb2831ce0fe040d0aa537e2e800f7  SOUJVIT12A8C1451C1      1
48373583  b7815dbb206eb2831ce0fe040d0aa537e2e800f7  SOUSMXX12AB0185C24      1
48373584  b7815dbb206eb2831ce0fe040d0aa537e2e800f7  SOWYSKH12AF72A303A      3
48373585  b7815dbb206eb2831ce0fe040d0aa537e2e800f7  SOYYFLV12A58A7A88F      1

[48373586 rows x 3 columns]

In [119]:
print(id_df.song_id.unique().size)

384546

In [3]:
id_df.columns

Index(['user_id', 'song_id', 'count'], dtype='object')

### Read in dataframe linking song_id to song titles

In [231]:
track_file = 'data/unique_tracks.txt'
tracks_df = pd.read_csv(track_file,delimiter='<SEP>',names=['track_id','song_id','artist','song'])
tracks_df

<ipython-input-231-a6871d1b8ef7>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  tracks_df = pd.read_csv(track_file,delimiter='<SEP>',names=['track_id','song_id','artist','song'])

,track_id,song_id,artist,song
0,TRMMMYQ128F932D901,SOQMMHC12AB0180CB8,Faster Pussy cat,Silent Night
1,TRMMMKD128F425225D,SOVFVAK12A8C1350D9,Karkkiautomaatti,Tanssi vaan
2,TRMMMRX128F93187D9,SOGTUKN12AB017F4F1,Hudson Mohawke,No One Could Ever
3,TRMMMCH128F425532C,SOBNYVR12A8C13558C,Yerba Brava,Si Vos QuerÃ©s
4,TRMMMWA128F426B589,SOHSBXH12A8C13B0DF,Der Mystic,Tangle Of Aspens
...,...,...,...,...
999995,TRYYYUS12903CD2DF0,SOTXAME12AB018F136,Kiko Navarro,O Samba Da Vida
999996,TRYYYJO128F426DA37,SOXQYIQ12A8C137FBB,Kuldeep Manak,Jago Chhadeo
999997,TRYYYMG128F4260ECA,SOHODZI12A8C137BB3,Gabriel Le Mar,Novemba
999998,TRYYYDJ128F9310A21,SOLXGOR12A81C21EB7,Elude,Faraday
999999,TRYYYVU12903CD01E3,SOWXJXQ12AB0189F43,Texta,Fernweh feat. Sektion KuchikÃ¤schtli

In [120]:
tracks_df.song_id.unique().size

999056

In [5]:
tracks_df.columns

Index(['track_id', 'song_id', 'artist', 'song'], dtype='object')

In [229]:
df = pd.merge(tracks_df, id_df, how='inner', on='song_id')
df

,track_id,song_id,artist,song,user_id,count
0,TRMMMYQ128F932D901,SOQMMHC12AB0180CB8,Faster Pussy cat,Silent Night,3a05343210b5e4b6308193bcd00242d326bd9b36,1
1,TRMMMYQ128F932D901,SOQMMHC12AB0180CB8,Faster Pussy cat,Silent Night,93f24a7eb6742300414e7b8d4fefddf3f90c3db7,6
2,TRMMMYQ128F932D901,SOQMMHC12AB0180CB8,Faster Pussy cat,Silent Night,53f8a04762e391eb0efb812b7352e4d598a48b2c,1
3,TRMMMCH128F425532C,SOBNYVR12A8C13558C,Yerba Brava,Si Vos QuerÃ©s,baf8f44f7f23ca9671be11ff296df32a09f4406d,1
4,TRMMMCH128F425532C,SOBNYVR12A8C13558C,Yerba Brava,Si Vos QuerÃ©s,c59ecc2ed2f13812c69a65c02d9847d255fa8ecf,1
...,...,...,...,...,...,...
49664523,TRYYYZM128F428E804,SOBODSE12A8C13EBD6,SKYCLAD,Inequality Street,9ab8ef65e878846e1e2b4e1109ffa56b1a2c09bb,1
49664524,TRYYYZM128F428E804,SOBODSE12A8C13EBD6,SKYCLAD,Inequality Street,56d29a12dbd87b619256e349d967fef6e1a46698,1
49664525,TRYYYON128F932585A,SOWCNSN12AB018070F,Loose Shus,Taurus (Keenhouse Remix),aeb227fce19da4e5a1d88f53df2ac0eb3ede4f74,1
49664526,TRYYYON128F932585A,SOWCNSN12AB018070F,Loose Shus,Taurus (Keenhouse Remix),95061cbe060d2500ce8af2bc71bcd9a6512352ba,2
49664527,TRYYYVU12903CD01E3,SOWXJXQ12AB0189F43,Texta,Fernweh feat. Sektion KuchikÃ¤schtli,73761dab0fa190edb18a2b21c4cfcf76d7cd8474,1

In [164]:
df.song.unique().size

306814

In [22]:
df.columns

Index(['user_id', 'song_id', 'count', 'track_id', 'artist', 'song'], dtype='object')

In [230]:
ourfile = 'data/first1000.csv'
our_df = pd.read_csv(ourfile)
our_df

,Band,Lyrics,Song
0,Elijah Blake,"No, no\r\nI ain't ever trapped out the bando\r...",Everyday
1,Elijah Blake,"The drinks go down and smoke goes up, I feel m...",Live Till We Die
2,Elijah Blake,She don't live on planet Earth no more\r\nShe ...,The Otherside
3,Elijah Blake,"Trippin' off that Grigio, mobbin', lights low\...",Pinot
4,Elijah Blake,"I see a midnight panther, so gallant and so br...",Shadows & Diamonds
...,...,...,...
994,Judy Garland,"Day in, day out\r\nThe same old hoodoo follows...","Day In, Day Out"
995,Judy Garland,When a dove is in love\r\nWith a doll of a dov...,I Could Go on Singin' ('Til the Cows Come Home)
996,Judy Garland,You've got me where you want me\r\nAnd I hope ...,You Got Me Where You Want Me
997,Judy Garland,"If you're ever in a jam, here I am \r\nIf you'...",Friendship (Medley)
998,Judy Garland,Judy\r\nForget your troubles\r\n\r\nBarbra\r\n...,Get Happy - Happy Days Are Here Again

In [24]:
our_df.columns

Index(['Band', 'Lyrics', 'Song'], dtype='object')

In [155]:
combined_df = pd.merge(df, our_df, how='inner',left_on=['song','artist'],right_on=['Song','Band'])
combined_df

,track_id,song_id,artist,song,user_id,count,Band,Lyrics,Song
0,TRMHWSF128F934D22D,SOIBNKE12AB0181BB6,Eliza Doolittle,Go Home,4a6bf06cffacc38b51d598940c06dc35f0685c01,3,Eliza Doolittle,Peepin' out the door\nI see those choppers are...,Go Home
1,TRMHWSF128F934D22D,SOIBNKE12AB0181BB6,Eliza Doolittle,Go Home,bbb1f39b74a5974230c4e3343b902f382883175c,2,Eliza Doolittle,Peepin' out the door\nI see those choppers are...,Go Home
2,TRMHWSF128F934D22D,SOIBNKE12AB0181BB6,Eliza Doolittle,Go Home,756d56c83ea2003ac3d8e4b30ddc51e02e52e5cf,1,Eliza Doolittle,Peepin' out the door\nI see those choppers are...,Go Home
3,TRMHWSF128F934D22D,SOIBNKE12AB0181BB6,Eliza Doolittle,Go Home,63e5f42dd18a5f5b1d2df3fecebe6a5ecfc35a27,4,Eliza Doolittle,Peepin' out the door\nI see those choppers are...,Go Home
4,TRMHWSF128F934D22D,SOIBNKE12AB0181BB6,Eliza Doolittle,Go Home,19cdd2de23e456fdfca3f7dc68aa6601765f2db3,1,Eliza Doolittle,Peepin' out the door\nI see those choppers are...,Go Home
...,...,...,...,...,...,...,...,...,...
4824,TRYIHNA128F934D221,SOZKBKD12AB0181B90,Eliza Doolittle,Moneybox,5e9550f4c7a747283194da37d27a5456e2b6d408,4,Eliza Doolittle,Instead of goin' out\r\nTo dinner tonight\r\nW...,Moneybox
4825,TRYIHNA128F934D221,SOZKBKD12AB0181B90,Eliza Doolittle,Moneybox,db8a0ee12ad49667d5f1ae6793672e10b97de7a6,1,Eliza Doolittle,Instead of goin' out\r\nTo dinner tonight\r\nW...,Moneybox
4826,TRYIHNA128F934D221,SOZKBKD12AB0181B90,Eliza Doolittle,Moneybox,5e383bf949bc6eee6be0b3db6f08608270352f9b,1,Eliza Doolittle,Instead of goin' out\r\nTo dinner tonight\r\nW...,Moneybox
4827,TRYIHNA128F934D221,SOZKBKD12AB0181B90,Eliza Doolittle,Moneybox,5b62dacbf67eb61043206d8c1edda6b65f37f11f,1,Eliza Doolittle,Instead of goin' out\r\nTo dinner tonight\r\nW...,Moneybox
4828,TRYIHNA128F934D221,SOZKBKD12AB0181B90,Eliza Doolittle,Moneybox,d9353891b168006a0af564d80aedcea449c0ec3d,4,Eliza Doolittle,Instead of goin' out\r\nTo dinner tonight\r\nW...,Moneybox

In [161]:
combined_df.columns

Index(['track_id', 'song_id', 'artist', 'song', 'user_id', 'count', 'Band',
       'Lyrics', 'Song'],
      dtype='object')

In [162]:
print("unique users: ", combined_df['user_id'].unique().size)
print("unique songs: ", combined_df['song_id'].unique().size)

unique users:  2855
unique songs:  34

In [165]:
unique_SongID = combined_df['song_id'].unique()
unique_UserID = combined_df['user_id'].unique()
j = 0
user_old2new_id_dict = dict()
for u in unique_UserID:
    user_old2new_id_dict[u] = j
    j += 1
j = 0
song_old2new_id_dict = dict() 
for i in unique_SongID:
    song_old2new_id_dict[i] = j
    j += 1
    
# Then, use the generated dictionaries to reindex UserID and Song in the combined_df
for j in range(len(combined_df)):
    combined_df.at[j, 'user_id'] = user_old2new_id_dict[combined_df.at[j, 'user_id']]
    combined_df.at[j, 'song_id'] = song_old2new_id_dict[combined_df.at[j, 'song_id']]

In [166]:
combined_df

,track_id,song_id,artist,song,user_id,count,Band,Lyrics,Song
0,TRMHWSF128F934D22D,0,Eliza Doolittle,Go Home,0,3,Eliza Doolittle,Peepin' out the door\nI see those choppers are...,Go Home
1,TRMHWSF128F934D22D,0,Eliza Doolittle,Go Home,1,2,Eliza Doolittle,Peepin' out the door\nI see those choppers are...,Go Home
2,TRMHWSF128F934D22D,0,Eliza Doolittle,Go Home,2,1,Eliza Doolittle,Peepin' out the door\nI see those choppers are...,Go Home
3,TRMHWSF128F934D22D,0,Eliza Doolittle,Go Home,3,4,Eliza Doolittle,Peepin' out the door\nI see those choppers are...,Go Home
4,TRMHWSF128F934D22D,0,Eliza Doolittle,Go Home,4,1,Eliza Doolittle,Peepin' out the door\nI see those choppers are...,Go Home
...,...,...,...,...,...,...,...,...,...
4824,TRYIHNA128F934D221,33,Eliza Doolittle,Moneybox,542,4,Eliza Doolittle,Instead of goin' out\r\nTo dinner tonight\r\nW...,Moneybox
4825,TRYIHNA128F934D221,33,Eliza Doolittle,Moneybox,544,1,Eliza Doolittle,Instead of goin' out\r\nTo dinner tonight\r\nW...,Moneybox
4826,TRYIHNA128F934D221,33,Eliza Doolittle,Moneybox,770,1,Eliza Doolittle,Instead of goin' out\r\nTo dinner tonight\r\nW...,Moneybox
4827,TRYIHNA128F934D221,33,Eliza Doolittle,Moneybox,2760,1,Eliza Doolittle,Instead of goin' out\r\nTo dinner tonight\r\nW...,Moneybox
4828,TRYIHNA128F934D221,33,Eliza Doolittle,Moneybox,2854,4,Eliza Doolittle,Instead of goin' out\r\nTo dinner tonight\r\nW...,Moneybox

In [270]:
train_df = combined_df.sample(frac=0.7, random_state=0)
test_df = combined_df.drop(train_df.index)

print(train_df.size)
print(test_df.size)

if(train_df.size + test_df.size == combined_df.size):
    print("no overlap!")

30420
13041
no overlap!

In [271]:
print(len(train_df))
print(len(test_df))

3380
1449

In [272]:
from scipy.sparse import coo_matrix

num_user = len(combined_df['user_id'].unique())
num_song = len(combined_df['song_id'].unique())

train_mat = coo_matrix((train_df['count'].values, (train_df['user_id'].values, train_df['song_id'].values)), shape=(num_user, num_song)).toarray().astype(float)
test_mat = coo_matrix((test_df['count'].values, (test_df['user_id'].values, test_df['song_id'].values)), shape=(num_user, num_song)).toarray().astype(float)

print(train_mat.shape)
print(test_mat.shape)

(2855, 34)
(2855, 34)

Standardize the user counts, so every song listen value becomes a percentage of user listens

In [275]:
np.count_nonzero(~np.isnan(train_mat))

97070

In [267]:
train_mat_counts = np.sum(train_mat,axis=1).T
test_mat_counts = np.sum(test_mat,axis=1).T

for user_id in range(num_user):
    
    denom = 1
    if train_mat_counts[user_id] != 0:
        denom = train_mat_counts[user_id]

    train_mat[user_id] = train_mat[user_id]/denom
    test_mat[user_id] = test_mat[user_id]/denom

97070

In [228]:
## Create item item cosine similarities using bag of words on lyrics
print(np.sum(np.sum(train_mat,axis=1) == 0).astype(int))
print(len(np.where(~test_mat.any(axis=1))[0]))
print(len(np.unique(train_mat, axis=0)))
print(len(np.unique(test_mat, axis=0)))

602
1663
631
306

In [237]:
np.savetxt("train_mat.csv", train_mat.astype(int), delimiter=",")

In [177]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('punkt')
import re
from operator import itemgetter
from sklearn.metrics import pairwise


BAG_SIZE = 1000
def get_top_values(d,N = BAG_SIZE):
    return list(sorted(d.items(), key = itemgetter(1), reverse = True)[:N])
stop_words = set(stopwords.words('english')) 

# creating  "master" dictionary
word2count = {}

for song_id in range(num_song):

    # this will get the first index where song_id appears
    lyric_idx = combined_df[combined_df['song_id']==song_id].index.values[0]
    
    # get song lyrics at that index
    song_lyric = combined_df.Lyrics.iloc[lyric_idx]

    # clean song lyrics
    song_lyric = song_lyric.lower()
    song_lyric = re.sub(r'\W', ' ', song_lyric)
    song_lyic = re.sub(r'\s+', ' ', song_lyric)
    song_lyric = re.sub(r'\r|\n', ' ', song_lyric)

    # get word counts for songs omitting stopwords
    words = nltk.word_tokenize(song_lyric)
    for word in words:

        if word not in stop_words:

            if word not in word2count:
                word2count[word] = 1
            else:
                word2count[word] += 1

# get the top ranked words for our songs

word2count_list = get_top_values(word2count)
word2count = dict(word2count_list)
word_ranks = {w2c[0]: r for r, w2c in enumerate(word2count_list)}

# Now pass through again and create vectors

song_counts = np.zeros([num_song, BAG_SIZE])

for song_id in range(num_song):

    lyric_idx = combined_df[combined_df['song_id']==song_id].index.values[0]
    
    # get song lyrics at that index
    song_lyric = combined_df.Lyrics.iloc[lyric_idx]

        # clean song lyrics
    song_lyric = song_lyric.lower()
    song_lyric = re.sub(r'\W', ' ', song_lyric)
    song_lyic = re.sub(r'\s+', ' ', song_lyric)
    song_lyric = re.sub(r'\r|\n', ' ', song_lyric)

    words = nltk.word_tokenize(song_lyric)

    for word in words:
        if word in word_ranks:
            word_idx = word_ranks[word]
            song_counts[song_id][word_idx] += 1

song_pairwise_similarities = pairwise.cosine_similarity(song_counts)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Aditya\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Aditya\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [211]:
song_pairwise_similarities

(34, 34)

## Content based filtering for bag of words

Generate a user profile based on the similarities for each of the users

In [210]:
user_profiles =  np.zeros([num_user, BAG_SIZE])

for user_id in range(num_user):

    user_listens = train_mat[user_id]

    for song_id in range(num_song):

        # add song vectors weighted by listens to user profile
        listen_count = train_mat[user_id][song_id]
        user_profiles[user_id] += listen_count*song_counts[song_id]
    
#user_profiles
len(np.unique(user_profiles, axis=0))

631

In [198]:
user_profile_similarities = pairwise.cosine_similarity(user_profiles, song_counts)
user_profile_similarities

array([[0.15096307, 0.35478518, 0.02216954, ..., 0.05962944, 0.62304176,
        0.82954893],
       [0.62839064, 0.78995349, 0.10502218, ..., 0.07732557, 0.18641551,
        0.07303123],
       [0.47705205, 0.04960466, 0.05833949, ..., 0.04101508, 0.9680705 ,
        0.17653342],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.04188833, 0.06084722, 0.01432166, ..., 0.0551286 , 0.18296964,
        1.        ],
       [0.04188833, 0.06084722, 0.01432166, ..., 0.0551286 , 0.18296964,
        1.        ]])

In [196]:
len(np.unique(user_profiles, axis=0))

631

In [260]:
X = user_profile_similarities[0]
y = train_mat[0]

print(X)
print(y)

[0.15096307 0.35478518 0.02216954 0.19133683 0.07894151 0.08544594
 0.04747215 0.1159953  0.15131539 0.00865078 0.         0.02768136
 0.20094004 0.14040066 0.         0.12405566 0.         0.
 0.01963504 0.         0.20451762 0.15722074 0.05840733 0.11724696
 0.18668705 0.01046562 0.11917596 0.20072164 0.09568963 0.
 0.         0.05962944 0.62304176 0.82954893]
[0. 5. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 8. 7.]

In [239]:
recommendation = np.zeros([num_user, num_song])

for user_id in range(num_user):
    recommendation[user_id] = np.argsort(user_profile_similarities[user_id])[::-1]

recommendation = recommendation.astype(int)
recommendation

array([[33, 32,  1, ..., 19, 30, 16],
       [ 1,  0, 12, ..., 29, 30, 16],
       [32,  0, 12, ..., 17, 19, 16],
       ...,
       [33,  8, 14, ..., 30, 31,  0],
       [33,  3,  8, ..., 19, 14, 16],
       [33,  3,  8, ..., 19, 14, 16]])

## Recall and Precision values for implicit recommendation

In [241]:


def recall_k(user_id, k):

    num_relevant = 0

    for i in range(k):

        # get top k movie ids for each user
        song_id = recommendation[user_id][i]

        # count all relevant values that are in top k
        if test_mat[user_id][song_id] == 1:
            num_relevant += 1
    
    # count all relevant values
    total_relevant = np.count_nonzero(test_mat[user_id]>=1)

    return num_relevant/total_relevant

def precision_k(user_id, k):

    num_relevant = 0

    for rank in range(k):

        # get top k movie ids for each user
        song_id = recommendation[user_id][rank]

        # count all relevant values in top k
        if test_mat[user_id][song_id] >= 1:
            num_relevant += 1
    
    return num_relevant/k


validation_df = {}

for k in [5,20,34]:

        # make empty lists to contain precision and recal scores
        recall_list = []
        precision_list = []

        for user in range(num_user):

            # check that a user in test_mat does not have all nan values
            if np.all(test_mat[user]==0) == False:

                # add recall and precision scores to list
                recall_list.append(recall_k(user,k))
                precision_list.append(precision_k(user,k))

        # add lists to dictionary
        validation_df[f"recall_{k}"] = recall_list
        validation_df[f"precision_{k}"] = precision_list

validation_df = pd.DataFrame(validation_df)
validation_df.mean(axis=0)

recall_5        0.147022
precision_5     0.067450
recall_20       0.407089
precision_20    0.047903
recall_34       0.530970
precision_34    0.035753
dtype: float64

# Part 3: User-User MF

In [257]:
from sklearn.decomposition import NMF



nmf = NMF()
W = nmf.fit_transform(train_mat);
H = nmf.components_;
nR = np.dot(W,H)

nR = nR.astype(int)

In [258]:
from sklearn.metrics import mean_squared_error

mean_squared_error(test_mat,nR)

1.8239517873699393